*{
    margin: 0;
    padding: 0;
}
$hight:50px;
header {
    height: $hight;
    line-height: $hight;
    text-align: center;
    color: white;
    background-color: red;
}
.weui-tabbar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}